extends layout

block content
  h1= title
  p Create your account to get started with Rancher!: 

  form(action="." method="POST")
    label(for="first_name") First Name:
    input(
      type="text"
      id="first_name"
      name="first_name"
    )
    br

    label(for="last_name") Last Name:
    input(
      type="text"
      id="last_name"
      name="last_name"
    )
    br

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
    )
    br
    
    input(type="submit" value="Submit")