extends layout

block content
  h1= title
  p Please fill out the form below to register for our service

  form(action="." method="POST")
    label(for="first_name") First Name:
    input(
      type="text"
      id="first_name"
      name="first_name"
    )

    label(for="last_name") Last Name:
    input(
      type="text"
      id="last_name"
      name="last_name"
    )

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
    )
    
    label(for="github_handle") Github Handle:
    input(
      type="text"
      id="github_handle"
      name="github_handle"
    )
    input(type="submit" value="Submit")